
.padre{
    width: 400px;
    height: 400px;
    background-color: black;
}

.hijo{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 5px solid blue;
}
.padre:hover .hijo{
    animation: tralacion 3s ease-in-out 4 forwards;
}

@keyframes tralacion {
    0%{
        background-color: aliceblue;
        transform: translate(0%);
    }
    25%{
        background-color: brown;
        transform: translateX(100%);
    }
    50%{
        background-color: blueviolet;
        transform: translateY(100%);
    }
    100%{
        background-color: darkred;
        transform: translateX(100%) translateY(100%);
    }
}